.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text);
    cursor: pointer;
    z-index: 100;

    .cart-shop {
        position: relative;
        display: flex;
        a {
            color: var(--background);
        }
        .cart-number {
            position: absolute;
            right: -8px;
            top: -10px;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 1.5px 5px;
            background-color: var(--white);
            color: var(--black);
            border-radius: 50%;
        }
    }
}
