.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #007bff;
    color: white;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 28px;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.chat-box {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 338px;
    height: 420px;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 8px;
    overflow: hidden;
}
.chat-box .chat {
    position: relative;
}

.chat-header {
    background-image: linear-gradient(45deg, #3386ff, #0068ff);
    color: white;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-header > div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.chat-header .btn-chat {
    margin: 0;
    background: transparent;
    color: var(--white);
    font-size: 2rem;
}

.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #fff;
}

.chat-message {
    padding: 8px;
    line-height: 1.45;
    border-radius: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
}
.chat-message .chat-content {
    padding: 8px 10px;
    display: inline-block;
    max-width: calc(100% - 56px);
    min-width: 4rem;
    text-align: left;
    border-radius: 14px;
    background-color: #f3f4f5;
    border: 1px solid var(--primary);
    color: var(--black);
    font-weight: 400;
}
.chat-message .chat-content .chat-content-time {
    margin-top: 4px;
    font-size: 1.2rem;
    color: var(--secondary);
}
.chat-message .chat-is-user {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.chat-message.user {
    /* background-color: #f3f4f5; */
    align-self: flex-end;
    text-align: right;
}

.chat-message.other {
    /* background-color: #f3f4f5; */
    align-self: flex-start;
    text-align: left;
}

.chat-input {
    /* position: relative; */
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 4px 0;
}

.chat-input input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: var(--black);
    font-weight: 400;
    line-height: 1.45;
    outline: none;
}

.chat-input .btn-send-message {
    all: unset;
    padding: 10px 15px;
    color: white;
    border: none;
    cursor: pointer;
}

.emoji-picker-container {
    position: absolute;
    bottom: 50px;
    left: 10px;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
