.wrapper {
    // margin-top: 80px;
    width: 100%;

    .container {
        width: var(--width-default);
        height: 80vh;
        margin: auto;
        h2 {
            margin: 10px 0;
            font-size: 2.2rem;
            color: var(--primary-text);
        }
        .table {
            width: 100%;
            max-height: 435px;
            min-height: 435px;
            overflow: hidden;
            border: none;
            overflow-y: auto;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table,
        tr,
        td,
        th,
        thead,
        tbody {
            border: none;
        }
        tbody {
            width: 100%;
        }
        thead {
            width: 100%;
            text-align: center;
            color: var(--black);
            th {
                font-size: 1.7rem;
                font-weight: 500;
                padding: 10px 0;
                color: var(--black);
                // border-left: solid 1px #ebebeb;
                // border-bottom: solid 1px #ebebeb;
                background: #f7f7f7;
            }
            .h-product {
                border-left: none;
            }

            .h-information {
                width: 30%;
            }
            .h-product {
                width: 20%;
            }
            .h-price,
            .h-qty,
            .h-total {
                width: 15%;
            }
        }

        .item-info {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid #edebeb;
            transition: 0.3s ease;
            &:hover {
                background: #f4f6f8;
            }
            .item-product {
                padding: 12px 0;
                display: flex;
                justify-content: center;
                .item-name {
                    display: flex;
                    align-items: center;
                    .item-image {
                        width: 70px;
                        height: 70px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            .item-information {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .name {
                    max-width: 290px;
                    text-align: center;
                    color: var(--black);
                    font-size: 1.6rem;
                    font-weight: 400;
                }
                .btn-remove {
                    text-align: center;
                    display: inline-block;
                    padding: 6px 18px;
                    font-size: 1.5rem;
                    color: var(--secondary);
                    border-radius: 20px;
                    cursor: pointer;
                    border: none;
                    transition: 0.2s ease;
                    &:hover {
                        background: var(--red);
                        color: var(--white);
                        box-shadow: 0px 2px 5px var(--red);
                    }
                }
            }

            .item-price {
                color: var(--black);
                font-size: 1.6rem;
                font-weight: 400;
                text-align: center;
            }

            .item-qty {
                color: var(--black);
                font-size: 1.6rem;
                text-align: center;
                font-weight: 400;
                .qty {
                    display: inline-block;
                    overflow: hidden;
                    border: 1px solid #ebebeb;
                    border-radius: 20px;
                }
                .item-decrease {
                    padding: 6px 10px;
                    font-size: 2rem;
                    cursor: pointer;
                    &:hover {
                        background: #ebebeb;
                    }
                }

                .qty-number {
                    padding: 6px 10px;
                }

                .item-increase {
                    padding: 6px 10px;
                    font-size: 2rem;
                    cursor: pointer;
                    &:hover {
                        background: #ebebeb;
                    }
                }
            }

            .total {
                text-align: center;
                color: var(--red);
                font-size: 1.6rem;
                font-weight: 500;
            }
        }

        // last
        .last {
            width: 100%;
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .back {
                display: inline-flex;
                align-items: center;
                gap: 5px;
                background: #ebebeb;
                color: var(--secondary);
                font-size: 1.5rem;
                font-weight: 500;
                padding: 14px 16px;
                border-radius: 20px;
                transition: 0.2s ease-in;
                &:hover {
                    background: var(--background);
                    color: var(--white);
                }
            }

            .payment {
                display: flex;
                align-items: center;
                gap: 15px;
                .sum-price {
                    display: flex;
                    align-items: center;
                    color: var(--black);
                    font-size: 1.6rem;
                    font-weight: 500;
                    div:first-child {
                        white-space: nowrap;
                        margin-right: 4px;
                    }
                    .total {
                        color: var(--primary-text);
                        font-size: 2.3rem;
                        font-weight: 900;
                    }
                }
            }
        }
        .cart-empty {
            padding-top: 120px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                color: var(--primary-text);
                font-size: 3rem;
            }
            img {
                width: 300px;
                height: 300px;
            }
        }
    }
}
