.wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;

    .h-top {
        border-bottom: 2px solid #f5f5f5;
    }

    .user-phone {
        display: none;
    }
    .menu {
        position: relative;
        display: flex;
        align-items: center;
        .item {
            position: relative;
            &:hover .item-about {
                display: flex;
            }
            > a {
                font-size: 1.7rem;
                font-weight: 500;
                letter-spacing: 0.25px;
                padding: 12px 18px;
                color: var(--white);
            }

            ul {
                display: none;
                position: absolute;
                top: calc(100% + 15px);
                min-width: 180px;
                z-index: 10;
                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: -10px;
                    width: 100%;
                    height: 30px;
                    background-color: transparent;
                }
                li {
                    position: relative;
                    background-color: var(--white);
                    box-shadow: var(--box-shadow);
                    width: 100%;
                    cursor: pointer;
                    color: var(--black);
                    transition: 0.4s ease-in-out;
                    a {
                        color: var(--black);
                        display: block;
                        padding: 10px 15px;
                        transition: 0.3s ease;
                    }
                    ul {
                        position: absolute;
                        left: 100.5%;
                        top: 0;
                    }
                    &:hover > ul {
                        display: block;
                    }
                    &:hover {
                        background: var(--primary-text);
                    }
                }
            }
            &:hover > ul {
                display: block;
            }
        }
        .nav-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #252525;
            border-radius: 50%;
            a {
                font-family: cursive;
                font-size: 6rem;
                color: var(--orange);
                font-weight: 900;
                letter-spacing: 2px;
            }
        }
    }
    .inner {
        position: relative;
        width: var(--width-default);
        padding: 0 15px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        .menu-btn {
            display: none;
        }

        // .logo {
        //     width: 50px;
        //     height: 50px;

        //     img {
        //         width: 100%;
        //         height: 100%;
        //     }
        // }
    }
    .search-products {
        margin-left: 100px;
    }
    //action
    .action {
        display: flex;
        align-items: center;
        gap: 2rem;

        .userLogin {
            position: relative;
            &:hover ul {
                display: block;
            }
            .img-user {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
            }
            ul {
                display: none;
                position: absolute;
                cursor: pointer;
                width: 170px;
                background-color: var(--white);
                box-shadow: var(--box-shadow);
                top: 100%;
                left: 0;
                z-index: 999;
                li {
                    width: 100%;
                    transition: 0.2s ease;
                }
                li:hover {
                    background: rgb(0 0 0 / 10%);
                }
                a {
                    display: block;
                    padding: 10px 20px;
                    width: 100%;
                    height: 100%;
                    color: var(--black);
                    font-size: 1.5rem;
                }
                button {
                    padding: 10px 20px;
                    margin: 0;
                    background: transparent;
                    font-size: 1.5rem;
                    cursor: pointer;
                }
            }
        }

        .account {
            span {
                font-weight: 500;
                color: var(--black);
                cursor: pointer;
            }
        }
    }
}

.cart {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 15px;
    right: 30px;

    .icon-cart {
        color: var(--primary-text);
        cursor: pointer;
    }
}
.h-menu {
    .container {
        position: relative;
        width: var(--width-default);
        height: 80px;
        border-radius: 50px;
        display: flex;
        padding-left: 30px;
        align-items: center;
        background-color: #252525;
        margin: auto;
    }
}

.cart-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
        // position: static;
        .h-top {
            background-color: var(--background);
            padding: 0 25px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 10;

            .inner {
                width: 100%;
            }

            .menu-btn {
                display: block;
                color: var(--white);
                font-size: 2.6rem;
                cursor: pointer;
            }

            .logo {
                display: none;
            }

            .action {
                display: none;
            }

            .search {
                display: none;
            }

            .user-phone {
                display: block;
                .userLogin {
                    position: relative;
                    &:hover .log-out {
                        display: block;
                    }
                    .img-user {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        cursor: pointer;
                    }

                    .log-out {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100px;
                        color: var(--primary-text);
                        border: 1px solid var(--background);
                        padding: 5px 6px;
                        font-weight: 500;
                        border-radius: 15px;
                        z-index: 10;

                        &::before {
                            content: '';
                            position: absolute;
                            top: -20px;
                            left: 0;
                            width: 100%;
                            height: 30px;
                            background-color: transparent;
                        }
                    }
                }

                .account {
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    color: var(--white);
                }
            }
        }
        .h-menu {
            .container {
                .menu {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    position: fixed;
                    gap: 0;
                    top: 70px;
                    left: -300px;
                    bottom: 0;
                    margin: 0;
                    width: 300px;
                    background-color: #fff;
                    z-index: 10;
                    transition: all 0.3s ease;

                    .item {
                        border-bottom: 1px solid #888;
                        width: 100%;
                        height: 48px;
                        display: flex;
                        align-items: center;

                        a {
                            width: 100%;
                        }

                        .item-child {
                            display: none;
                        }

                        .item-about {
                            display: none;
                        }
                    }
                }
                .menu-open {
                    left: 0;
                    transition: all 0.3s ease;
                }
                .menu-overlay {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    background: rgba(94, 94, 94, 0.43);
                    z-index: 3;
                }
            }
        }
        .cart-mobile {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            padding: 16px 20px;
            background-color: #f5f5f5;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 100;

            .title-cart {
                font-size: 1.7rem;
                color: var(--black);
                font-weight: 500;
                margin-right: 5px;
            }
            .mobile-qty {
                display: flex;
                position: relative;

                .cart-number {
                    position: absolute;
                    right: -4px;
                    top: -7px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem;
                    width: 16px;
                    height: 16px;
                    background-color: var(--background);
                    color: var(--white);
                    border-radius: 50%;
                }
            }
            .total-number {
                color: #e60000;
                font-weight: 700;
                font-size: 2rem;
            }
        }
    }
}
