.wrapper {
    width: 100%;
    position: relative;
}

.advise {
    .advise-header {
        width: 100%;
        border: 1px solid var(--gray);
        border-radius: 4px;

        > div {
            padding: 7px 14px;
            font-size: 1.7rem;
            background-color: var(--gray-03);
            border-bottom: 1px solid var(--gray);
        }

        .act-advise {
            padding: 20px 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--white);
            border-bottom: none;
        }

        .filter-status {
            .title {
                font-weight: 500;
                margin-right: 10px;
                font-size: 1.5rem;
            }
        }
    }

    .active {
        background-color: var(--success);
        color: var(--white);
    }

    // Table styles
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: auto;
    }

    table th,
    td {
        text-align: left;
        padding: 14px;
    }

    table thead tr th {
        text-align: center;
        font-size: 1.7rem;
        border-top: 1px solid var(--gray);
        border-bottom: 1px solid var(--gray);
    }

    table tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.075);
    }

    table tr td {
        border-top: 1px solid var(--gray);
        vertical-align: middle;
        text-align: center;
    }

    table tbody tr td:nth-child(1) {
        width: 5%;
    }
    table tbody tr td:nth-child(2) {
        width: 10%;
    }
    table tbody tr td:nth-child(3) {
        width: 10%;
    }
    table tbody tr td:nth-child(4) {
        width: 20%;
        div {
            text-align: left;
            width: 300px;
            word-wrap: break-word;
        }
    }
    table tbody tr td:nth-child(5) {
        width: 10%;
    }
    table tbody tr td:nth-child(6) {
        width: 17%;
    }
    table tbody tr td:nth-child(7) {
        width: 10%;
    }
    table tbody tr td:nth-child(8) {
        width: 18%;
        button:first-child {
            margin-right: 5px;
        }
    }
}

// BTN styles
.changeStatus {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 6px;
}
.change-status-spending {
    background-color: #6c757d;
}
.change-status-finished {
    background-color: var(--success);
}
.change-status-cancel {
    background-color: var(--red);
}
.btnStatus {
    position: relative;
    padding: 6px 10px;
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 12px;
    background-color: transparent;
    border: 1px solid var(--success);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
        background-color: var(--success);
        color: var(--white);
    }
    span {
        position: absolute;
        top: -10px;
        right: -8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        font-size: 1.2rem;
        font-weight: 400;
        background-color: var(--red);
        color: var(--white);
        border-radius: 50%;
    }
}
